* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  --background: #212121;
  --primary: #edf2f4;
  --secondary: #d90429;
}

body {
  background: var(--background);
  color: var(--primary);
  display: flex;
  main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    .top {
      width: 100%;
      height: 10vh;
      text-align: center;
      line-height: 10vh;
    }
    .pov {
      width: 100%;
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .coins {
        position: absolute;
        top: 0;
        right: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        p {
          text-align: center;
        } // p
        img {
          width: 100px;
        } // img
      } // .coins
      .monster {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        h2.monster-name {
          margin: 10px;
        } // h2.monster-name
        .monster-health-bar {
          position: relative;
          width: 500px;
          height: 35px;
          border-radius: 50px;
          border: 2px solid var(--secondary);
          overflow: hidden;
          p.monster-hp {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-weight: bold;
          } // p.monster-hp
          .monster-health {
            height: 100%;
            background: var(--secondary);
          } // monster-health
        } // .monster-health-bar
        p.monster-hps {
          margin: 5px;
          font-size: 0.8rem;
        }
        img.monster-img {
          width: 256px;
          height: 256px;
          cursor: pointer;
          transition: transform 0.1s ease;
        }
        img.monster-img:hover {
          transform: scale(1.1);
        }
        img.monster-img:active {
          transform: scale(1);
        }
      } // .monster
    } // .pov
    .pov.shake {
      animation: shake 0.5s infinite;
    }
    @keyframes shake {
      0% {
        transform: translate(1px, 1px) rotate(0deg);
      }
      10% {
        transform: translate(-1px, -2px) rotate(-1deg);
      }
      20% {
        transform: translate(-3px, 0px) rotate(1deg);
      }
      30% {
        transform: translate(3px, 2px) rotate(0deg);
      }
      40% {
        transform: translate(1px, -1px) rotate(1deg);
      }
      50% {
        transform: translate(-1px, 2px) rotate(-1deg);
      }
      60% {
        transform: translate(-3px, 1px) rotate(0deg);
      }
      70% {
        transform: translate(3px, 1px) rotate(-1deg);
      }
      80% {
        transform: translate(-1px, -1px) rotate(1deg);
      }
      90% {
        transform: translate(1px, 2px) rotate(0deg);
      }
      100% {
        transform: translate(1px, -2px) rotate(-1deg);
      }
    }
  } // main
  aside {
    width: 450px;
    height: 100vh;
    border-left: solid 2px var(--primary);
    .top {
      width: 100%;
      height: 15vh;
      border-bottom: 2px solid var(--primary);
      h1 {
        text-align: center;
        padding: 15px;
        height: 50%;
      } // h1
      .types {
        height: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        .upgrade-type {
          width: 50%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border: 2px solid var(--primary);
          height: 50px;
          transition: 0.3s ease;
          img {
            width: 25px;
          } // img
        } // .upgrade-type
        .upgrade-type.active,
        .upgrade-type:hover {
          background: #333333;
        } // .upgrade-type.active
      } // .types
    } // .top
    .upgrades-weapons,
    .upgrades-magic {
      display: none;
      flex-direction: column;
      height: 85vh;
      overflow-y: auto;
      .upgrades-item {
        cursor: pointer;
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        transition: 0.2s ease;
        .item-left {
          margin-left: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .item-name {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            img {
              width: 50px;
            }
          }
        } // .item-left
        p.price {
          line-height: 75px;
          margin-right: 10px;
        } // p.price
      } // .upgrades-item
      .upgrades-item:hover,
      .upgrades-item.active {
        background: #333333;
      } // .upgrades-item:hover, .upgrades-item.active
    } // .upgrades-weapons, .upgrades-magic
    .upgrades-weapons.active,
    .upgrades-magic.active {
      display: flex;
    } // .upgrades-weapons.active, .upgrades-magic.active
  } // aside
} // body
