* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  --background: #212121;
  --primary: #edf2f4;
  --secondary: #d90429;
}

body {
  background: var(--background);
  color: var(--primary);
  display: flex;
  main {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/misc/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    .top {
      width: 100%;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        position: absolute;
        top: 15px;
        width: 350px;
      }
    }
    .pov {
      width: 100%;
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .play-pause {
        position: absolute;
        top: -6.5vh;
        left: 25px;
        button {
          background: none;
          outline: none;
          cursor: pointer;
          transition: border-color 0.3s ease;
        } // button
        button.play {
          box-sizing: border-box;
          width: 20px;
          height: 25px;
          border-width: 12.5px 0px 12.5px 20px;
          border-color: transparent transparent transparent
            rgba($color: #edf2f4, $alpha: 0.7);
        } // button.play
        button.play:hover {
          border-color: transparent transparent transparent
            rgba($color: #edf2f4, $alpha: 1);
        } // button.play:hover, button.play:active
        button.pause {
          width: 25px;
          height: 25px;
          border-style: double;
          border-width: 0px 0px 0px 12.5px;
          border-color: rgba($color: #edf2f4, $alpha: 0.7);
        } // button.pause
        button.pause:hover {
          border-color: rgba($color: #edf2f4, $alpha: 1);
        }
      } // .play-pause
      .coins {
        position: absolute;
        top: -10vh;
        right: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        p {
          text-align: center;
        } // p
        img {
          width: 100px;
        } // img
      } // .coins
      .monster {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        h2.monster-name {
          margin: 10px;
        } // h2.monster-name
        .monster-health-bar {
          position: relative;
          width: 500px;
          height: 35px;
          border-radius: 50px;
          border: 2px solid var(--secondary);
          overflow: hidden;
          p.monster-hp {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-weight: bold;
          } // p.monster-hp
          .monster-health {
            height: 100%;
            background: var(--secondary);
          } // monster-health
        } // .monster-health-bar
        p.monster-dps {
          margin: 5px;
          font-size: 0.8rem;
        }
        img.monster-img {
          width: 256px;
          height: 256px;
          cursor: pointer;
          transition: transform 0.1s ease;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          -webkit-tap-highlight-color: transparent;
        }
        img.monster-img:hover {
          transform: scale(1.1);
        }
        img.monster-img:active {
          transform: scale(1);
        }
      } // .monster
      .magic {
        position: absolute;
        bottom: 10px;
        img {
          width: 150px;
        }
      }
    } // .pov
    .pov.shake {
      animation: shake 0.5s infinite;
    }
    @keyframes shake {
      0% {
        transform: translate(1px, 1px) rotate(0deg);
      }
      10% {
        transform: translate(-1px, -2px) rotate(-1deg);
      }
      20% {
        transform: translate(-3px, 0px) rotate(1deg);
      }
      30% {
        transform: translate(3px, 2px) rotate(0deg);
      }
      40% {
        transform: translate(1px, -1px) rotate(1deg);
      }
      50% {
        transform: translate(-1px, 2px) rotate(-1deg);
      }
      60% {
        transform: translate(-3px, 1px) rotate(0deg);
      }
      70% {
        transform: translate(3px, 1px) rotate(-1deg);
      }
      80% {
        transform: translate(-1px, -1px) rotate(1deg);
      }
      90% {
        transform: translate(1px, 2px) rotate(0deg);
      }
      100% {
        transform: translate(1px, -2px) rotate(-1deg);
      }
    }
  } // main
  aside {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
      url("../images/misc/Wood.png");
    width: 450px;
    height: 100vh;
    border-left: solid 2px var(--primary);
    .top {
      width: 100%;
      height: 22.5vh;
      border-bottom: 2px solid var(--primary);
      h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 40px;
        height: 50%;
        img {
          width: 75px;
        } // img
      } // h1
      .types {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        .upgrade-type {
          width: 50%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border: 2px solid var(--primary);
          height: 50px;
          transition: 0.3s ease;
          img {
            width: 50px;
            margin-left: -15px;
          } // img
        } // .upgrade-type
        .upgrade-type.active,
        .upgrade-type:hover {
          background: #333333;
        } // .upgrade-type.active
      } // .types
    } // .top
    .upgrades-weapons,
    .upgrades-magic {
      display: none;
      flex-direction: column;
      height: 72.4vh;
      overflow-y: auto;
      .upgrades-item {
        cursor: pointer;
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        transition: 0.2s ease;
        .item-left {
          margin-left: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .item-name {
            display: flex;
            flex-direction: row;
            align-items: center;
            img {
              width: 50px;
            } // img
            h2 {
              font-size: 1.2rem;
            } // .h2
          } // .item-name
          p.desc {
            font-size: 0.8rem;
          }
        } // .item-left
        p.price {
          display: flex;
          align-items: center;
          line-height: 75px;
          margin-right: 10px;
          font-size: 1rem;
          .coin {
            width: 20px;
            margin-left: 5px;
          }
        } // p.price
      } // .upgrades-item
      .upgrades-item:hover {
        background: rgba($color: #212121, $alpha: 0.5);
      } // .upgrades-item:hover, :not(.upgrades-item.bought)
      .upgrades-item.bought {
        background: rgba($color: #333, $alpha: 0.5);
        p.price {
          display: flex;
          justify-content: center;
          svg.bought {
            fill: var(--primary);
            width: 35px;
            height: auto;
          }
        }
      }
    } // .upgrades-weapons, .upgrades-magic
    .upgrades-weapons.active,
    .upgrades-magic.active {
      display: flex;
    } // .upgrades-weapons.active, .upgrades-magic.active
  } // aside
} // body
